/*------------
    RESET
------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------
    GENERAL
------------*/

.container{
    max-width: 1200px;
    margin: auto;
}

body{
    font-family: sans-serif;
    font-size: 20px;
}

main section > .container{
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------
    HEADER
------------*/

.header-top{
    min-height: 80px;
    padding: 15px 0;
}

.header-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.header-top > .header-container > *{
    border: 2px dashed black;
    line-height: 50px;
    padding: 0 10px;
}

.logo, .login{
    width: 20%;
}

.login{
    text-align: end;
}

.link{
    width: 60%;
    text-align: center;
}

.header-bottom{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #ADD8E6;
}

.hero{
    width: 900px;
    height: 400px;
    border: 2px dashed black; 
}

/*------------
    MAIN
------------*/

.big-col, .small-col{
    height: 600px;
    border: 2px dashed black;
}

.big-col{
    width: 60%;
}

.small-col{
    width: 40%;
}

.gray-bg{
    background-color: #D3D3D3;
}

.last-gray-bg{
    height: 800px;
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-container{
    width: 1200px;
    min-height: 700px;
    margin: auto;
    border: 2px dashed black;
}

/*------------
    FOOTER
------------*/

.footer-top{
    background-color: #23272A;
    min-height: 600px;
    padding-top: 25px;
}
.footer-top > .container{
    min-height: 500px;
    display: flex;
}

.big-col-footer{
    width: 40%;
    border: 2px dashed black;
}

.small-col-footer{
    width: 15%;
    border: 2px dashed white;
}

.footer-bottom{
    background-color: #23272A;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    min-height: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer-container{
    min-height: 80px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-footer, .button-footer{
    border: 2px dashed black;
    padding: 5px;
}

/*------------
    DEBUG
------------*/

.debug .header-top{
    background-color: #ADD8E6;
}

.debug .header-bottom{
    background-color: #00008B;
}

.debug .header-top > .header-container{
    background-color: #DAA520;
}

.debug .hero{
    background-color: #EE82EE;
}

.debug .small-col{
    background-color: #FFC0CB;
}

.debug .big-col{
    background-color: #1E90FF;
}

.debug .green-container{
    background-color: #228B22;
}

.debug .big-col-footer{
    background-color: #F08080;
}

.debug .small-col-footer{
    background-color: #20B2AA;
}

.debug .footer-container{
    background-color: #DAA520;
}

.debug .logo-footer,
.debug .button-footer{
    background-color: #FFB6C1;
}

.debug .footer-container{
    background-color: #7FFFD4;
}